/* https://developer.mozilla.org/zh-CN/docs/Web/CSS/@font-face */

@font-face {
  font-family: 'Dela Gothic One';
  src: url('/fonts/DelaGothicOne-Regular.ttf') format('truetype');
}

.kickyouads-container {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100vh;
  background-color: #FFFFFF;
  margin: 20px;
  /* border: 2px solid rgba(255, 153, 253, 0.34); */
}

.kickyouads-header {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.logo-title {
  display: flex;
  margin: 0;
  align-items: center;
  gap: 8px;
}

.logo img{
  margin: 0;
  width: 35px;
  height: auto;
  border-radius: 5px;
}

.title {
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 15px;
}

.settings-close-btn {
  margin: 0;
}

.settings-btn,
.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


.login-section {
  padding: 1rem;
  text-align: center;
}
.login-btn {
  padding: 8px 16px;
  background-color: #4285F4;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}



.tab-content {
  height: 500px;
  /* border: 2px solid rgba(255, 153, 253, 0.34); */
}

/* SubscriptionItem.css */

.subscription-item {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  padding: 12px;
  margin: 10px 0;
  box-shadow: 0px 2px 4px 0px rgba(66, 66, 66, 0.1);
}

.sender-icon img {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  object-fit: cover;
  margin-right: 12px;
}

.sender-info {
  flex-grow: 1;
}

.sender-name {
  font-weight: bold;
  font-size: 15px;
}

.sender-email {
  font-size: 14px;
  color: #666;
}

.email-count {
  font-weight: 600;
  font-size: 14px;
  margin-right: 12px;
}
